megalinter-reports/

# CSharp
[Bb]in/
[Oo]bj/
coverage/
*.received.*
packages_local/
!packages_local/Readme.txt

# Local test data
test/local/*
!test/local/Readme.md

# publish dirs
publish/

# JavaScript/TypeScript
/node_modules/
webdev/tsc-out/

# Python
.venv/*

/imagedev