AddType application/wasm .wasm

<ifModule mod_deflate.c>
  <filesMatch "\.(css|js|x?html?|wasm)$">
    SetOutputFilter DEFLATE
  </filesMatch>
</ifModule>

# Cache Control
<IfModule mod_headers.c>
    Header set Cache-Control "private, no-cache, proxy-revalidate"
    Header merge Vary "Accept-Encoding"
    <FilesMatch "service-worker\.js$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </FilesMatch>
</IfModule>
