---
# This workflow builds the Straights.Web project
# and publishes it to a zip file.
permissions:
  pull-requests: write
  contents: read

name: Build Straights.Web

on:
  workflow_dispatch: {}

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Install JavaScript/TypeScript dependencies (npm ci)
        run: npm ci

      - name: Run vitest tests
        run: npm run test:run

      - name: Compile TypeScript sources (tsc)
        run: npm run tsc

      - name: Get Version
        id: get-set-version
        uses: ./.github/actions/get-set-version

      - name: Install Emscripten SDK
        run: |
          git clone https://github.com/emscripten-core/emsdk.git
          cd emsdk
          git pull
          ./emsdk install latest

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 9.0.x

      - name: Publish Straights.Web
        run: |
          ./emsdk/emsdk activate latest
          source ./emsdk/emsdk_env.sh
          dotnet publish "${{ github.workspace }}/Straights.Web/Straights.Web.csproj" \
          -c Release \
          -r browser-wasm \
          -p MSBuildEnableWorkloadResolver=false

      - name: Remove PDB and XML files
        run: |
          cd "${{ github.workspace }}/publish"
          rm ./Straights.Web/*.pdb
          rm ./Straights.Web/*.xml

      - name: List files
        run: |
          cd "${{ github.workspace }}/publish/Straights.Web"
          find . -type f

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: Straights.Web_${{ steps.get-set-version.outputs.version }}
          path: ${{ github.workspace }}/publish/Straights.Web
          include-hidden-files: true
